<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book My Table</title>
    <button style="float: right;"><a href="/" id="logOut"  class="btn btn-primary">Log Out</a></button><br><br>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--<link rel="stylesheet"  href="/public/stylesheets/bootstrap.css">-->

    <style type="text/css">
        body{
            background: url("https://5940937d2c7bbf7b8e91-0a28db3b18372360dbac03269c6df163.ssl.cf2.rackcdn.com/timothyoulton/uploads/2015/08/dining-table-set-furniture.jpg") no-repeat center center fixed ;
            background-size: cover;
        }
        h1,h2,h3,label{
            color: white;
        }
        body{
            margin-bottom: 100px;
        }

        p{
            color: white;
            background-color: #1b1e21;
        }
        footer{
            position: fixed;
            bottom: 0px;
            margin-bottom: 0px;
            background: lightgrey;
            height: 50px;
            width: 100%;
        }
        button{
            padding: 0px;
        }

    </style>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDW1svOcbk8gC2Mj1KI8DyWaOMmJo-jYOQ",
            authDomain: "semester5project.firebaseapp.com",
            databaseURL: "https://semester5project.firebaseio.com",
            projectId: "semester5project",
            storageBucket: "semester5project.appspot.com",
            messagingSenderId: "160249582869"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
