<%include ./partials/header.ejs%>

<div class="container">
  <h1 id="h1">Book My Table</h1><br>
  <button><a href="/customers/register" class="btn btn-primary">Register Customers</a></button><br>
  <button><a href="/customers/edit.ejs" class="btn btn-primary">Edit Customers</a></button><br>
  <button><a href="/restaurants/register" class="btn btn-primary">Register Restaurant</a></button><br>

</div>
<%include ./partials/footer.ejs%>