<%include ../partials/header.ejs%>

<div class="container">
  <h1 id="h1">Book My Table</h1><br>
  <form action="/customers/search" method="post">
    <button type="submit" name="search" value="" class="btn btn-primary">Remove Customers</button>
  </form>
  <button><a href="/admin/registerRO" class="btn btn-primary">Register Restaurant Owners</a></button><br><br>
  <form action="/editProfile" method="post">
    <button type="submit" name="search" value="" class="btn btn-primary">Edit profile details</button>
  </form>
  <button><a href="/admin/registerAdmin" class="btn btn-primary">Add Administrator</a></button><br><br>

</div>
<%include ../partials/footer.ejs%>