<% include ../partials/header.ejs %>

<button style="float: right;"><a href="/signUp" id="signIn"  class="btn btn-primary">Customer Sign Up</a></button><br><br>

<h1 class="card-header">Login</h1>

<div class="container">

    <form action="/loginValidation" method="post">

        <div class="form-group">
            <label>User type</label>
            <div class="dropdown">
                <select name="userType" class="custom-select">
                    <option class="dropdown-item" value="" disabled selected hidden>Select User</option>
                    <option class="dropdown-item" value="customers">Customer</option>
                    <option class="dropdown-item" value="admin">Admin</option>
                    <option class="dropdown-item" value="restaurant_owners">Restaurant owner</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" type="text" class="form-control" placeholder="Enter Email">
        </div>
        <!--<div class="form-group">-->
            <!--<label>Last Name</label>-->
            <!--<input name="lastName" type="text"  class="form-control" placeholder="Enter Last Name">-->
        <!--</div>-->
        <div class="form-group">
            <label>Password</label>
            <input name="password" type="password"  class="form-control" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

<% include ../partials/footer.ejs %>
