<%include ../partials/header.ejs%>

<div class="container">
    <h1 id="h1">Book My Table</h1><br>
    <form action="/reservation_manager/reservations_made" method="post">
        <button type="submit" name="search" value="" class="btn btn-primary">Reservations made</button>
    </form>
    <form action="/editProfile" method="post">
        <button type="submit" name="search" value="" class="btn btn-primary">Edit profile details</button>
    </form>

</div>
<%include ../partials/footer.ejs%>