<%include ../partials/header.ejs%>

<div class="container">
  <h1 id="h1">Book My Table</h1><br>
  <button><a href="/restaurants/register" class="btn btn-primary">Add Restaurant</a></button><br><br>
  <form action="/restaurant_owners/search" method="post">
    <button type="submit" name="search" value="" class="btn btn-primary">Add Waiter</button>
  </form>
  <form action="/restaurant_owners/search" method="post">
    <button type="submit" name="search" value="" class="btn btn-primary">Edit Restaurant details</button>
  </form>
  <form action="/editProfile" method="post">
    <button type="submit" name="search" value="" class="btn btn-primary">Edit profile details</button>
  </form>
</div>
<%include ../partials/footer.ejs%>