<%include ../partials/header.ejs%>

<div class="container">
    <h1 id="h1">Book My Table</h1><br>
    <div class="container">
        <div class=" form-group">
        <label for search>Search Restaurants</label>
        <input name="search" type="text" class="form-control" placeholder="Enter restaurant keyword">
        </div>
    </div>
</div>
<%include ../partials/footer.ejs%>